<h1>Browse All Events</h1>

<h2>Upcoming</h2>
<%= render partial: 'shared/table', locals: {events:@events_upcoming} %>

<h2>Past</h2>
<%= render partial: 'shared/table', locals: {events:@events_past} %>